## DATA IMPORTING

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Sigmoid/dataset/train.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Sigmoid/dataset/test.csv')
codf = pd.read_csv('/content/drive/MyDrive/Sigmoid/dataset/US_COVID_data_state_level.csv')
cidf = pd.read_csv('/content/drive/MyDrive/Sigmoid/dataset/city_details.csv')
wadf = pd.read_csv('/content/drive/MyDrive/Sigmoid/dataset/warehouse_mapping.csv')

In [ ]:
df1

            date  wh_id  sales
0       02/01/19    1.0     44
1       03/01/19    1.0     48
2       04/01/19    1.0     36
3       05/01/19    1.0     40
4       06/01/19    1.0     80
...          ...    ...    ...
453210  12/03/21   97.0     84
453211  13/03/21   97.0     60
453212  14/03/21   97.0     81
453213  15/03/21   97.0     90
453214  16/03/21   97.0     48

[453215 rows x 3 columns]

In [ ]:
df1.head()

       date  wh_id  sales
0  02/01/19    1.0     44
1  03/01/19    1.0     48
2  04/01/19    1.0     36
3  05/01/19    1.0     40
4  06/01/19    1.0     80

In [ ]:
codf

           date state  tot_cases  conf_cases
0      22/01/20    OH          0         NaN
1      22/01/20    GA          0         NaN
2      22/01/20    OK          0         NaN
3      22/01/20    NM          0         NaN
4      22/01/20    HI          0         NaN
...         ...   ...        ...         ...
29275  23/05/21   RMI          4         4.0
29276  23/05/21    PA    1195869   1003189.0
29277  23/05/21    TX    2932082         NaN
29278  23/05/21    FL    2267144         NaN
29279  23/05/21    IA     370625         NaN

[29280 rows x 4 columns]

In [18]:
corl = codf[codf.conf_cases.notna()]

In [19]:
a,b = corl.tot_cases,corl.conf_cases

In [20]:
a.corr(b)

0.9948571880301039

In [ ]:
cidf1 = cidf.drop(['zip_code','country','state_name'],axis = 1)
cidf1 = cidf1.drop_duplicates()
cidf1

            city state
0        SEATTLE    WA
1      ANCHORAGE    AK
2       COLUMBIA    MD
3         TUSTIN    CA
5        ANTIOCH    CA
..           ...   ...
554  WESTMINSTER    CA
555      ONTARIO    CA
556       TACOMA    WA
557      BOZEMAN    MT
558    CLACKAMAS    OR

[523 rows x 2 columns]

In [ ]:
# cidf1['city_state'] = cidf1['city'] +'_'+ cidf1['state_name']

In [ ]:
m = codf.merge(cidf1,how = 'left',on='state')
m

            date state  tot_cases  conf_cases         city
0       22/01/20    OH          0         NaN       TOLEDO
1       22/01/20    OH          0         NaN       EASTON
2       22/01/20    OH          0         NaN  CENTERVILLE
3       22/01/20    OH          0         NaN   PERRYSBURG
4       22/01/20    OH          0         NaN       BOSTON
...          ...   ...        ...         ...          ...
261563  23/05/21    FL    2267144         NaN        DAVIE
261564  23/05/21    FL    2267144         NaN         PALM
261565  23/05/21    IA     370625         NaN   CORALVILLE
261566  23/05/21    IA     370625         NaN    DAVENPORT
261567  23/05/21    IA     370625         NaN         WEST

[261568 rows x 5 columns]

In [ ]:
wadf.tail()

     wh_id                     warehouse_name         city
554    943  WAREHOUSE 943 WESTMINSTER BUS CTR  WESTMINSTER
555    947      WAREHOUSE 947 ONTARIO BUS CTR      ONTARIO
556     95                WAREHOUSE 95 TACOMA       TACOMA
557     96               WAREHOUSE 96 BOZEMAN      BOZEMAN
558     97             WAREHOUSE 97 CLACKAMAS    CLACKAMAS

In [ ]:
b = []
for row in wadf.values:
  b.append(row[1].split()[2])

wadf['city'] = np.array(b)

In [ ]:
value,counts = np.unique(np.array(b),return_counts=True)
value[counts>1],counts[counts>1]

(array(['AURORA', 'AVON', 'BURBANK', 'COLUMBIA', 'COMMERCE', 'CYPRESS',
        'DALLAS', 'E', 'EAST', 'EL', 'EVERETT', 'FORT', 'GRAND',
        'HAWTHORNE', 'HAYWARD', 'LA', 'LAGUNA', 'LAKE', 'LANCASTER',
        'LINCOLN', 'LYNNWOOD', 'MIAMI', 'MT', 'N', 'NE', 'NEW', 'NORTH',
        'NORWALK', 'NW', 'PALM', 'RANCHO', 'ROCHESTER', 'ROSEVILLE', 'S',
        'SACRAMENTO', 'SAN', 'SANTA', 'SE', 'SOUTH', 'ST', 'SW', 'TUSTIN',
        'UNION', 'W', 'WEST', 'WESTMINSTER', 'WOODLAND'], dtype='<U15'),
 array([ 2,  2,  2,  2,  2,  2,  3,  7,  3,  3,  2,  4,  2,  2,  2,  4,  2,
         3,  2,  2,  2,  2,  4,  6,  4,  4,  3,  2,  4,  2,  3,  2,  2,  6,
         2, 10,  5,  4,  2,  5,  4,  2,  2,  8,  4,  2,  2]))

In [ ]:
x = df1.merge(wadf.drop(axis = 1,columns=['warehouse_name']),how='left',on = 'wh_id')

In [ ]:
z = x.merge(m,how='left', on = ['date','city'])

In [ ]:
z

            date  wh_id  sales       city state  tot_cases  conf_cases
0       02/01/19    1.0     44    SEATTLE   NaN        NaN         NaN
1       03/01/19    1.0     48    SEATTLE   NaN        NaN         NaN
2       04/01/19    1.0     36    SEATTLE   NaN        NaN         NaN
3       05/01/19    1.0     40    SEATTLE   NaN        NaN         NaN
4       06/01/19    1.0     80    SEATTLE   NaN        NaN         NaN
...          ...    ...    ...        ...   ...        ...         ...
596010  12/03/21   97.0     84  CLACKAMAS    OR   159037.0    159037.0
596011  13/03/21   97.0     60  CLACKAMAS    OR   159392.0    159392.0
596012  14/03/21   97.0     81  CLACKAMAS    OR   159617.0    159617.0
596013  15/03/21   97.0     90  CLACKAMAS    OR   159788.0    159788.0
596014  16/03/21   97.0     48  CLACKAMAS    OR   160050.0    160050.0

[596015 rows x 7 columns]

In [ ]:
z[z.city == 'AURORA'].wh_id.unique()

array([106., 439.])

In [ ]:
codf.head()

       date state  tot_cases  conf_cases
0  22/01/20    OH          0         NaN
1  22/01/20    GA          0         NaN
2  22/01/20    OK          0         NaN
3  22/01/20    NM          0         NaN
4  22/01/20    HI          0         NaN

In [ ]:
codf['tot_cases']

In [ ]:
z[z.city == 'W'].wh_id.unique()

array([1030., 1167., 1262., 1294.,  205.,  364.,  630.,  684.])

In [ ]:
cidf[cidf.city == 'COLUMBIA']

         city  zip_code state      state_name country
2    COLUMBIA     21075    MD        MARYLAND      US
154  COLUMBIA     29210    SC  SOUTH CAROLINA      US

In [ ]:
y = x.merge(cidf,how='left',on = 'city')
train = y.merge(codf,how='left', on = ['date','state'])
df1[df1.date == '02/01/19']

## DATA PREPROCESSING

## EDA