## DATA IMPORTING

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import math

In [44]:
df1 = pd.read_csv('train.csv').dropna() #Training Dataset
df2 = pd.read_csv('test.csv') #Testing dataset
codf = pd.read_csv('US_COVID_data_state_level.csv') #Covid data of cities
cidf = pd.read_csv('city_details.csv') #Cities data
wadf = pd.read_csv('warehouse_mapping.csv')

            date  wh_id  sales
0       02/01/19    1.0     44
1       03/01/19    1.0     48
2       04/01/19    1.0     36
3       05/01/19    1.0     40
4       06/01/19    1.0     80
...          ...    ...    ...
453210  12/03/21   97.0     84
453211  13/03/21   97.0     60
453212  14/03/21   97.0     81
453213  15/03/21   97.0     90
453214  16/03/21   97.0     48

[449995 rows x 3 columns]

In [ ]:
df1['date']=pd.to_datetime(df1.date)
df1.sort_values('date',inplace = True)
df1.index = np.arange(df1.shape[0])
codf['date']=pd.to_datetime(codf.date)
codf.sort_values('date',inplace = True)
codf.index = np.arange(codf.shape[0])

## Predicting Confirmed Cases

In [ ]:
corl = codf[codf.conf_cases.notna()] #Non-empty cells of confirmed cases

In [ ]:
a,b = np.array(list(corl.tot_cases)),np.array(list(corl.conf_cases))

In [ ]:
from sklearn.ensemble import RandomForestRegressor 
# algo=RandomForestRegressor()
# ratio = []
# for i in range(len(a)):
#     if b[i]!=0:
#         ratio.append((a[i]-b[i])/(b[i]))
#     else:
#         ratio.append(0)
# a=np.array(a).reshape(-1,1)
# algo.fit(a,ratio)

In [ ]:
# for i in codf[codf.conf_cases.isna()].index:
#     codf.iloc[i,3] = int(np.array(codf.iloc[i,2])/(1+algo.predict(np.array(codf.iloc[i,2].reshape(1,-1)))))

In [16]:
algo=RandomForestRegressor()
algo.fit(a.reshape(-1,1),b)

RandomForestRegressor()

In [17]:
codf.head(5)

        date state  tot_cases  conf_cases
0 2020-01-02    PA          0         NaN
1 2020-01-02    DE          0         NaN
2 2020-01-02    NJ          0         NaN
3 2020-01-02    RI          0         NaN
4 2020-01-02    VI          0         NaN

In [18]:
for i in codf[codf.conf_cases.isna()].index:
     codf.iloc[i,3] = int(algo.predict(np.array(codf.iloc[i,2].reshape(1,-1))))

In [19]:
codf.sample(5)

            date state  tot_cases  conf_cases
21587 2021-01-22    VT      10759     10273.0
20718 2021-01-01    PW          0         0.0
21914 2021-01-28    NC     739500    662186.0
10690 2020-07-13    ND       4442      4442.0
4061  2020-03-20    OH        169       168.0

In [20]:
codf.isna().sum()

date          0
state         0
tot_cases     0
conf_cases    0
dtype: int64

## DATA CLEANING

In [21]:
cidf1 = cidf.drop(['country'],axis = 1) #dropping useless columns
cidf1 = cidf1.drop_duplicates()
cidf1.tail(),cidf1.shape

(            city  zip_code state  state_name
 554  WESTMINSTER     92683    CA  CALIFORNIA
 555      ONTARIO     91761    CA  CALIFORNIA
 556       TACOMA     98409    WA  WASHINGTON
 557      BOZEMAN     59718    MT     MONTANA
 558    CLACKAMAS     97015    OR      OREGON,
 (555, 4))

In [22]:
value,counts = np.unique(cidf1.zip_code,return_counts=True)
value[counts>1],counts[counts>1]

(array([94080, 98027], dtype=int64), array([2, 2], dtype=int64))

In [23]:
cidf1[cidf1.zip_code == 94080]

    city  zip_code state  state_name
370    S     94080    CA  CALIFORNIA
371   EL     94080    CA  CALIFORNIA

In [24]:
cidf1.drop(index=371,inplace=True)

In [25]:
cidf1[cidf1.zip_code == 98027]

        city  zip_code state  state_name
69  ISSAQUAH     98027    WA  WASHINGTON
70        US     98027    WA  WASHINGTON

In [26]:
cidf1.drop(index=70,inplace=True)

In [27]:
uszips = pd.read_csv('uszips.csv')
# zips = uszips.zip.unique()
# sum =0
# for z in y:
#     if z in zips:
#         sum+=1
#     else: print(z)
# sum,y.shape
cidf1 = cidf1.merge(uszips[['zip','population']],how='left',right_on='zip',left_on='zip_code')

In [28]:
state = cidf1.state.unique()
num_cities = [cidf1[cidf1.state == st].zip_code.nunique() for st in state]
tot_population_state = [cidf1[cidf1.state==st].population.sum() for st in state]
stct = pd.DataFrame({'state':state,'num_cities':num_cities})
stpop = pd.DataFrame({'state':state,'tot_population_state':tot_population_state})

## DATA PREPROCESSING

In [29]:
cidf_final = cidf1.merge(stct,on = 'state',how = 'left').merge(stpop,on='state',how='left');

In [30]:
cidf_final

,city,zip_code,state,state_name,zip,population,num_cities,tot_population_state
0,SEATTLE,98134,WA,WASHINGTON,98134,779.0,32,1025335.0
1,ANCHORAGE,99515,AK,ALASKA,99515,22226.0,4,106685.0
2,COLUMBIA,21075,MD,MARYLAND,21075,34939.0,11,372155.0
3,TUSTIN,92782,CA,CALIFORNIA,92782,23166.0,126,5739662.0
4,ANTIOCH,94509,CA,CALIFORNIA,94509,69295.0,126,5739662.0
...,...,...,...,...,...,...,...,...
548,WESTMINSTER,92683,CA,CALIFORNIA,92683,90833.0,126,5739662.0
549,ONTARIO,91761,CA,CALIFORNIA,91761,60827.0,126,5739662.0
550,TACOMA,98409,WA,WASHINGTON,98409,27918.0,32,1025335.0
551,BOZEMAN,59718,MT,MONTANA,59718,39282.0,5,189101.0
552,CLACKAMAS,97015,OR,OREGON,97015,24332.0,13,508122.0

In [31]:
wadf.sample(5)

     wh_id                 warehouse_name
365    410       WAREHOUSE 410 NORWALK CA
347    378      WAREHOUSE 378 LAKE ZURICH
511    742   WAREHOUSE 742 PEMBROKE PINES
136   1205  WAREHOUSE 1205 WOODLAND HILLS
346    377    WAREHOUSE 377 ST LOUIS PARK

In [32]:
m = codf.merge(cidf_final,how = 'left',on='state') 
print(m.shape)
m['avg_tot_cases/num_cities'] = m['tot_cases'].div(m['num_cities'], fill_value=10)
m['avg_conf_cases/num_cities'] = m['conf_cases'].div(m['num_cities'], fill_value=10)
m['avg_tot_cases/city_weight'] = m['tot_cases']*m['population']/m['tot_population_state']
m['avg_conf_cases/city_weight'] = m['conf_cases']*m['population']/m['tot_population_state']
m.sample(5) #merging covid data and cities data using state as a common entity

(276208, 11)

,date,state,tot_cases,conf_cases,city,zip_code,state_name,zip,population,num_cities,tot_population_state,avg_tot_cases/num_cities,avg_conf_cases/num_cities,avg_tot_cases/city_weight,avg_conf_cases/city_weight
221868,2021-03-02,PA,853896,741897.0,HARRISBURG,17112.0,PENNSYLVANIA,17112.0,36080.0,11.0,328734.0,77626.909091,67445.181818,93718.835533,81426.453485
104098,2020-07-18,MN,46204,43328.0,EDEN,55344.0,MINNESOTA,55344.0,15907.0,12.0,362815.0,3850.333333,3610.666667,2025.734956,1899.641680
33238,2020-03-11,FL,805924,717628.0,PALM,33403.0,FLORIDA,33403.0,12458.0,28.0,1093573.0,28783.000000,25629.571429,9181.098282,8175.228928
5396,2020-01-11,TN,271605,255733.0,SE,38125.0,TENNESSEE,38125.0,39315.0,5.0,206839.0,54321.000000,51146.600000,51625.421584,48608.545270
184044,2020-12-12,OH,553461,507325.0,BOSTON,44236.0,OHIO,44236.0,25281.0,12.0,274961.0,46121.750000,42277.083333,50887.389633,46645.463629

In [33]:
b = []
for row in wadf.values:
  b.append(row[1].split()[2]) #taking 3rd word from warehouse_name which is city

wadf['city'] = np.array(b)
wadf.sample(5)

     wh_id                    warehouse_name        city
124   1191          WAREHOUSE 1191 KALAMAZOO   KALAMAZOO
521    762        WAREHOUSE 762 LANCASTER CA   LANCASTER
8     1005         WAREHOUSE 1005 GREENVILLE  GREENVILLE
300    328  WAREHOUSE 328 CRANBERRY TOWNSHIP   CRANBERRY
454    644          WAREHOUSE 644 SE GILBERT          SE

In [34]:
x = df1.merge(wadf.drop(axis = 1,columns=['warehouse_name']),how='left',on = 'wh_id')

In [39]:
df1

            date   wh_id
0     2021-01-04   471.0
1     2021-01-04   691.0
2     2021-01-04   780.0
3     2021-01-04   418.0
4     2021-01-04   462.0
...          ...     ...
34338 2021-12-05  1185.0
34339 2021-12-05    25.0
34340 2021-12-05   455.0
34341 2021-12-05   372.0
34342 2021-12-05   243.0

[34343 rows x 2 columns]

In [35]:
print(x.shape)
x.sample(5)
# merged data of train and warehouse datasets

(34343, 3)

            date   wh_id          city
25409 2021-05-15   626.0       POTOMAC
18    2021-01-04   128.0          SIMI
17391 2021-04-20  1322.0  PFLUGERVILLE
29491 2021-08-05   580.0       BEDFORD
4746  2021-03-19   365.0        CAGUAS

In [36]:
z = x.merge(m,how='left', on = ['date','city'])

In [37]:
print(z.shape)
z.sample(5)

(65758, 16)

,date,wh_id,city,state,tot_cases,conf_cases,zip_code,state_name,zip,population,num_cities,tot_population_state,avg_tot_cases/num_cities,avg_conf_cases/num_cities,avg_tot_cases/city_weight,avg_conf_cases/city_weight
57457,2021-09-04,321.0,YONKERS,NY,1061897.0,878326.0,10710.0,NEW YORK,10710.0,25104.0,19.0,586641.0,55889.315789,46227.684211,45441.526058,37586.012406
19761,2021-03-29,1119.0,WEST,IA,349885.0,307732.0,50266.0,IOWA,50266.0,30515.0,3.0,68345.0,116628.333333,102577.333333,156218.315531,137397.644012
1033,2021-01-04,118.0,SAN,CA,3591737.0,1374979.0,92408.0,CALIFORNIA,92408.0,14312.0,126.0,5739662.0,28505.849206,10912.531746,8956.091830,3428.546742
48782,2021-05-15,1161.0,FORT,FL,2246756.0,1374979.0,33907.0,FLORIDA,33907.0,25813.0,28.0,1093573.0,80241.285714,49106.392857,53033.050951,32455.385170
28842,2021-04-16,1389.0,DALLAS,GA,1081629.0,866978.0,30157.0,GEORGIA,30157.0,48446.0,14.0,672164.0,77259.214286,61927.000000,77958.055674,62487.155200

In [38]:
#precovid data
precov = z[z.state.isna()][['date','wh_id','sales','tot_cases','conf_cases','avg_tot_cases/num_cities','avg_conf_cases/num_cities',
                            'avg_tot_cases/city_weight','avg_conf_cases/city_weight']].fillna(0)
cov = z[z.state.notna()][['date','wh_id','sales','tot_cases','conf_cases','avg_tot_cases/num_cities','avg_conf_cases/num_cities',
                            'avg_tot_cases/city_weight','avg_conf_cases/city_weight']]
precov.sort_values(['date','wh_id'],ignore_index=True,inplace = True)
cov.sort_values(['date','wh_id'],ignore_index=True,inplace = True)

KeyError: "['sales'] not in index"

## EDA

In [ ]:
# Import libraries
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# Configuring styles
sns.set_style("darkgrid")
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (25, 10)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
def week_avg_wh_id(wh_id):
    week_avg = []
    start = 0
    shape = df1[df1.wh_id == wh_id].shape[0]
    while start<shape:
        week_avg.append(df1[df1.wh_id == wh_id][start:start+7].sales.mean())
        start += 7
    return week_avg

In [ ]:
legend = []
for i in range(1,3):
    y = week_avg_wh_id(df1.wh_id.unique()[i])
    plt.plot(range(1,len(y)+1),y,linewidth = 3)
    legend.append('wh_id ' + str(i))
plt.legend(legend);
plt.title('week average sales');

In [ ]:
plt.plot(codf.date.unique(),codf.groupby('date').sum().tot_cases)
plt.title('covid cases wrt time')
plt.xlabel('date')
plt.ylabel('covid_cases');

In [ ]:
def cov_cases_state(state):
    plt.plot(codf[codf.state==state].date,codf[codf.state==state].tot_cases)
    
cov_cases_state('DE')

In [ ]:
# State vs No.of cities
fig=sns.countplot(x=cidf.state_name);
plt.xticks(rotation=90);
plt.show();

In [ ]:
codf['month'] = codf.date.dt.month
cov_eda_2020 = codf[codf.date.dt.year == 2020].groupby('month').sum()
cov_eda_2020['year'],cov_eda_2020['month'] = 2020,cov_eda_2020.index
cov_eda_2021 = codf[codf.date.dt.year == 2021].groupby('month').sum()
cov_eda_2021['year'],cov_eda_2021['month'] =2021,cov_eda_2021.index
cov_eda = pd.concat([cov_eda_2020,cov_eda_2021])
px.bar(cov_eda,x='month',y='tot_cases',color = 'year')

In [ ]:
cov['wh_id']=cov['wh_id'].astype('object')
fig = px.scatter(cov[(cov.wh_id==1)|(cov.wh_id==2)|(cov.wh_id==6)], x="avg_tot_cases/num_cities", y="sales",
                 title='cases vs sales',color='wh_id')
fig.show()

In [ ]:
cov['wh_id']=cov['wh_id'].astype('object')
fig = px.scatter(cov[(cov.wh_id==1)|(cov.wh_id==2)|(cov.wh_id==6)], x="tot_cases", y="sales",
                 title='cases vs sales',color='wh_id')
fig.show()

## Training

In [ ]:
z[(z.date == pd.to_datetime('12/03/2021')) & (z.city == 'COLUMBIA')]

In [ ]:
values,counts = np.unique(cidf_final.city,return_counts=True)

In [ ]:
values[counts>1],counts[counts>1]

### DATA SPLITTING

In [ ]:
import torch
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import torch.nn.functional as F
import torch.utils.data as utils
from torch.utils.data import DataLoader
from torch.utils.data import Dataset
from torch.utils.data import random_split
import torch.nn as nn

In [ ]:
# target_sensor = "Austin"
# features = list(df.columns.difference([target_sensor]))

# forecast_lead = 15
# target = f"{target_sensor}_lead{forecast_lead}"

# df[target] = df[target_sensor].shift(-forecast_lead)
# df = df.iloc[:-forecast_lead]